.App {
	padding-top: 50px;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}

.app_input {
	padding: 10px 15px;
	font-size: 25px;
	height: 18px;
	width: 200px;
	border-radius: 5px;
}

.app_input_add {
	font-size: 25px;
	height: 40px;
	width: 75px;
	border-radius: 5px;
	background-color: orange;
}

ul {
	padding-top: 30px;
	margin: 0 auto;
	width: 500px;
	list-style: none;
}

li {
	display: flex;
	min-width: 250px;
	max-width: max-content;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 150px;
}

.select {
	margin-top: 15px;
	padding: 5px 5px;
	font-size: 18px;
	height: 30px;
	width: 80px;
	border-radius: 5px;
}

.checkbox {
	cursor: pointer;
}

.edit_btn {
	font-size: 18px;
	height: auto;
	width: auto;
	border-radius: 5px;
	margin: 0 15px;
	background-color: greenyellow;
	cursor: pointer;
}

.delete {
	color: red;
	cursor: pointer;
}

input:checked + span {
	text-decoration: line-through;
}
